# Python Data Cleaning

## 1.0 Importing our Libraries

In [247]:
# Importing the Pandas Library
import pandas as pd

# Importing the Numpy Library
import numpy as np

In [248]:
df =pd.read_excel('electronics.xlsx')
df.head(2)

,Timestamp,product:,Product Parameters,Shop name,Shop type,Respective price,Ram,Hdd size,Screen size
0,2017-09-27 15:30:44.686000,Flash Disk,NaN,Ycd,retail,6788,NaN,8gb,NaN
1,2017-09-27 15:55:28.424000,Flash disk,NaN,Link electronics,retail,1000,NaN,8gb,NaN

## 1.1 Validity

In [249]:
# Dropping the irrelevant columns i.e. Timestamp, Shop name and Shop type	
# Irrelevant data are those that are not actually needed, and don’t fit under 
# the context of the problem we’re trying to solve.
to_drop = ["Timestamp" , "Shop name" , "Shop type"]
df.drop(to_drop, inplace=True, axis=1)
df.head(2)

     product: Product Parameters Respective price  Ram Hdd size  Screen size
0  Flash Disk                NaN             6788  NaN      8gb          NaN
1  Flash disk                NaN             1000  NaN      8gb          NaN

In [250]:
df = df.drop([df.index[52]])

In [252]:
df.drop(df.tail(2).index,
        inplace = True)

## 1.2 Completeness

### 1.2.1 How to check missing values

In [266]:
#Checking/ Counting Missing Values 
# Checking if there is any missing value across each column
df.isnull().any()

product:              False
Product Parameters     True
Respective price      False
Ram                    True
Hdd size               True
Screen size            True
dtype: bool

In [267]:
# Checking if there is any missing value in dataframe as a whole
df.isnull()

,product:,Product Parameters,Respective price,Ram,Hdd size,Screen size
0,False,True,False,True,False,True
1,False,True,False,True,False,True
2,False,True,False,True,False,True
3,False,True,False,True,False,True
4,False,True,False,True,False,True
...,...,...,...,...,...,...
60,False,False,False,False,False,True
61,False,False,False,False,False,False
62,False,False,False,False,False,False
63,False,False,False,False,False,False
64,False,False,False,False,False,True

In [268]:
# Checking how many missing values there are across each column
df.isnull().sum()

product:               0
Product Parameters    22
Respective price       0
Ram                   32
Hdd size              18
Screen size           43
dtype: int64

In [269]:
# Or we can do a quick check to see if we have any missing values at all
print(df.isnull().values.any())

True

### 1.2.2 How to Handle Missing Values

In [270]:

# Dropping Missing Values 
# If there are only a few null values and you know that deleting values 
# will not cause adverse effects on your result, 
# remove them from your DataFrame and store that in a new DataFrame
# Droppping all 
clean_df = df.dropna()
print(clean_df)

   product:    Product Parameters Respective price  Ram Hdd size  Screen size
34   Laptop                Lenovo            26999    2      500         15.6
35   Laptop            Asus t100t            42500    2       64         10.1
36   Laptop                 Asuss            25500    2       32         11.6
37   Laptop                  Asus            25500    2       32         11.6
38   Laptop   Lenovo ideapad mini            26000    2       32         11.6
39   Laptop                    Hp            35500    4      500         15.6
40   Laptop                    Hp            19000    2      320         15.0
41   Laptop                    Hp            24000    2      500         15.0
42   Laptop               Lg atom            20000    4      320         14.0
43   Laptop           Hp notebook            45000    4      500         15.0
44   Laptop                  Asus            28000    4      500         15.6
45   Laptop         Hp folio 9470            35000    4      500         15.6
46   Laptop  lenovo think pad t60            12000    2       80         14.0
47   Laptop       Lenovo Idea pad            11000    2      160         15.6
48   Laptop     HP elitebook 2540            21000  4GB      500         14.0
49   Laptop          hp i7 laptop            20000    4      320         14.0
50   Laptop    Dell inspiron 5137            33000    4      500         15.0
51   Laptop               Toshiba            17500    2      320         14.0
61   Laptop       Lenovo Idea pad            11000    2      160         15.6
62   Laptop     HP elitebook 2540            21000  4GB      500         14.0
63   Laptop          hp i7 laptop            20000    4      320         14.0

In [271]:
# Verifying that you no longer have any null values by running 
print(clean_df.isnull().sum())

product:              0
Product Parameters    0
Respective price      0
Ram                   0
Hdd size              0
Screen size           0
dtype: int64

In [272]:
# Dropping all rows that have all NA values
df1 = df.dropna(how="all")
df1.head(58)
df =df1

In [273]:
# We can also put a limitation on how many non-null values need to be in a row 
# we can retain the data that has at least 2 non-null values as shown below
# Uncomment the 2 lines below after running the previous lines
df2 = df.dropna(thresh=2)
print(df2)

      product: Product Parameters Respective price  Ram Hdd size  Screen size
0   Flash Disk                NaN             6788  NaN      8gb          NaN
1   Flash disk                NaN             1000  NaN      8gb          NaN
2        Flash                NaN             1000  NaN      8gb          NaN
3        Flash                NaN             1000  NaN      8GB          NaN
4        Flash                NaN              800  NaN      8gb          NaN
..         ...                ...              ...  ...      ...          ...
60      Laptop               Dell            31500    4      500          NaN
61      Laptop    Lenovo Idea pad            11000    2      160         15.6
62      Laptop  HP elitebook 2540            21000  4GB      500         14.0
63      Laptop       hp i7 laptop            20000    4      320         14.0
64      Laptop               Asus           125000    4      500          NaN

[64 rows x 6 columns]

## 1.3 Consistency

In [ ]:
df.shape

In [ ]:
# Example 1: Duplicates
# Duplicates are data points that are repeated in your dataset. 
# These should be simply removed.
df.duplicated().sum()

In [275]:
df.loc[df.duplicated(keep=False), : ]

   product: Product Parameters Respective price  Ram Hdd size  Screen size
4     Flash                NaN              800  NaN      8gb          NaN
5     Flash                NaN              800  NaN      8gb          NaN
6     Flash                NaN              800  NaN      8gb          NaN
7     Flash                NaN             2500  NaN     32gb          NaN
11    Flash                NaN             2500  NaN     32gb          NaN
19   Shaver                NaN             3450  NaN      NaN          NaN
20   Shaver                NaN             3450  NaN      NaN          NaN
21   Shaver                NaN             3695  NaN      NaN          NaN
22   Shaver                NaN             3695  NaN      NaN          NaN
47   Laptop    Lenovo Idea pad            11000    2      160         15.6
48   Laptop  HP elitebook 2540            21000  4GB      500         14.0
49   Laptop       hp i7 laptop            20000    4      320         14.0
61   Laptop    Lenovo Idea pad            11000    2      160         15.6
62   Laptop  HP elitebook 2540            21000  4GB      500         14.0
63   Laptop       hp i7 laptop            20000    4      320         14.0

In [276]:
#Dropping duplicated rows
df.drop_duplicates(keep="first").shape

(56, 6)

## 1.4  Uniformity

In [284]:
df[['Respective_Price']] = df[['Respective_Price']].apply(pd.to_numeric)

In [285]:
df[['Ram']] = df[['Ram']].apply(pd.to_numeric)

In [286]:
df.head(4)

     product: Product_Parameters  Respective_Price  Ram Hdd_Size  Screen_Size
0  Flash Disk                NaN              6788  NaN      8gb          NaN
1  Flash disk                NaN              1000  NaN      8gb          NaN
2       Flash                NaN              1000  NaN      8gb          NaN
3       Flash                NaN              1000  NaN      8GB          NaN

In [287]:
#df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_'),str.replace(' : ', ' ')
#df.columns

In [288]:
#Standardization - Fixing messy column names
# We can rename multiple  data frame column names in the following manner
df = df.rename(columns={'Product:':'Product', 'Product Parameters' : 'Product_Parameters', 'Respective price' : 'Respective_Price', 'Hdd size': 'Hdd_Size', 'Screen size' : 'Screen_Size'})

In [289]:
df.columns

Index(['product:', 'Product_Parameters', 'Respective_Price', 'Ram', 'Hdd_Size',
       'Screen_Size'],
      dtype='object')

In [290]:
df["Ram"].replace("4GB","4", inplace= True)
df["Respective_Price"].replace("20k","20000", inplace= True)

In [291]:
df["Respective_Price"].fillna((df["Respective_Price"].mean()), inplace=True)

In [292]:
df.tail(5)

,product:,Product_Parameters,Respective_Price,Ram,Hdd_Size,Screen_Size
6,Flash,NaN,800,NaN,8gb,NaN
7,Flash,NaN,2500,NaN,32gb,NaN
8,Flash,NaN,1500,NaN,16gb,NaN
9,Flash,NaN,1300,NaN,16,NaN
10,Flash,NaN,1250,NaN,16gb,NaN
11,Flash,NaN,2500,NaN,32gb,NaN
12,Hp,NaN,1300,NaN,16gb,NaN
13,Earphone/headphones,"Wire,microphone,basss",600,NaN,NaN,NaN
14,Headphone,"Bluetoith,mic,vol etc",2000,NaN,NaN,NaN
15,Onda tablet/lappy,"4g,2mp 5mp,2gb 64gb,10.1,7000mah,usb3",37999,4.000,64,NaN
16,Tablet,5MP 4000mAh 8GB android 5 .1.1 Quad core 1.5G...,18999,NaN,8,NaN
17,Techno,"7000mah2,32gbni 2,5mp",31495,2.000,32,NaN
18,Tablet,"4GB, 512 mb ram android 4.2.2 1.0 GHZ",11695,0.512,4,NaN
19,Shaver,NaN,3450,NaN,NaN,NaN
20,Shaver,NaN,3450,NaN,NaN,NaN
21,Shaver,NaN,3695,NaN,NaN,NaN
22,Shaver,NaN,3695,NaN,NaN,NaN
23,Shaver,NaN,6345,NaN,NaN,NaN
24,Bluetooth,NaN,1000,NaN,NaN,NaN
25,Bletooth earpiece,"Bluetooth,music,handsfree calls",1000,NaN,NaN,NaN
26,Bluetooth earpiece,"Handsfree,music,standby8hrs",1000,NaN,NaN,NaN
27,Jabra,"Hamdsfree,remote photograph,music",1300,NaN,NaN,NaN
28,Bluetoith earpiece,"Bluetooth,fast charge,",1300,NaN,NaN,NaN
29,Earphone,Earphones,250,NaN,NaN,NaN
30,Bluetooth earpiece,"Music,calls",1000,NaN,NaN,NaN
31,Bluetooth earpiece,NaN,1000,NaN,NaN,NaN
32,Earphones,NaN,800,NaN,NaN,NaN
33,Earphones,NaN,500,NaN,NaN,NaN
34,Laptop,Lenovo,26999,2.000,500,15.6
35,Laptop,Asus t100t,42500,2.000,64,10.1
36,Laptop,Asuss,25500,2.000,32,11.6
37,Laptop,Asus,25500,2.000,32,11.6
38,Laptop,Lenovo ideapad mini,26000,2.000,32,11.6
39,Laptop,Hp,35500,4.000,500,15.6
40,Laptop,Hp,19000,2.000,320,15.0
41,Laptop,Hp,24000,2.000,500,15.0
42,Laptop,Lg atom,20000,4.000,320,14.0
43,Laptop,Hp notebook,45000,4.000,500,15.0
44,Laptop,Asus,28000,4.000,500,15.6
45,Laptop,Hp folio 9470,35000,4.000,500,15.6
46,Laptop,lenovo think pad t60,12000,2.000,80,14.0
47,Laptop,Lenovo Idea pad,11000,2.000,160,15.6
48,Laptop,HP elitebook 2540,21000,4.000,500,14.0
49,Laptop,hp i7 laptop,20000,4.000,320,14.0
50,Laptop,Dell inspiron 5137,33000,4.000,500,15.0
51,Laptop,Toshiba,17500,2.000,320,14.0
53,Laptop,Hp,25000,NaN,320,NaN
54,Laptop,Celeron,30000,2.000,500,NaN
55,Laptop,Dell,20000,4.000,650,NaN
56,Laptop,Acer aspire,33000,4.000,500,NaN
57,Laptop,Asus,25000,4.000,500,NaN
58,Laptop,R450,20000,2.000,NaN,NaN
59,Laptop,Lenovo ideapad,27500,2.000,500,NaN
60,Laptop,Dell,31500,4.000,500,NaN
61,Laptop,Lenovo Idea pad,11000,2.000,160,15.6
62,Laptop,HP elitebook 2540,21000,4.000,500,14.0
63,Laptop,hp i7 laptop,20000,4.000,320,14.0
64,Laptop,Asus,125000,4.000,500,NaN